html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* //捲軸底色 */
html::-webkit-scrollbar-track {
  background-color: transparent;
}

/* //捲軸寬度 */
html::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* //捲軸本體顏色 */
html::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

/* 最上方 */
#containertop {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* logo */
#containertopleft {
  width: 12%;
  height: 55px;
  position: relative;
  display: inline-block;
}

#containertopleft button {
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-9%, -50%);
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

#containertopleft a {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-0%, -50%);
}

#containertopleft i {
  display: inline-block;
  vertical-align: middle;
}

#containertopleft h1 {
  display: inline-block;
}

#containertopleft h3 {
  display: inline-block;
}

/* 上方搜尋欄 */
#containertopcenter {
  height: 55px;
  width: 76%;
  position: absolute;
  top: 0;
  left: 12%;
  text-align: center;
  background: rgba(255, 255, 255, 0.97);
}

#containertopcenter .inputtext {
  line-height: 31px;
  /* 總高38px 34+2+2 */
  margin-top: 8px;
  padding: 0;
  font-size: 1rem;
  z-index: 2;
  border: 1px solid lightgray;
}

#containertopcenter .searchbtn {
  width: 58px;
  height: 38px;
  vertical-align: middle;
  position: relative;
  left: -4px;
  top: -1px;
  font-size: 16px;
  border: 1px solid lightgray;
}

#containertopcenter .recordbtn {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  position: relative;
  left: -4px;
  top: -1px;
  border-radius: 50%;
  border: none;
  margin-left: 5px;
  font-size: 16px;
}


/* 上方右側登入 */
#containertopright {
  height: 55px;
  width: 12%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  line-height: 2.5;
  background-color: rgba(255, 255, 255, 0.97);
}

#containertopright div {
  height: 100%;
  width: 28px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}


/* 左側選單 */
#containerleft {
  width: 12.5%;
  height: calc(100% - 55px);
  float: left;
  position: fixed;
  top: 55px;
  font-size: 15px;
  order: 1;
}

.menu {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.menu:hover {
  overflow-y: scroll;
}

/* //捲軸底色 */
.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

/* //捲軸寬度 */
.menu::-webkit-scrollbar {
  width: 10px;
  height: 60px;
}

/* //捲軸本體顏色 */
.menu::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  order: 1;
}

.menu table {
  width: 100%;
  border-bottom: 2px solid lightgray;
  cursor: pointer;
}

.menu .different {
  cursor: auto;
}

#containerleft tr {
  display: block;
  width: 200%;
}

#containerleft tr:hover:not(.different) {
  background-color: lightgray;
}

#containerleft td:nth-child(1) {
  padding: 10px 25px;
  color: gray;
}

#containerleft td i {
  font-size: 20px;
  color: black;
}

#containerleft table td:nth-child(2) {
  padding: 10px 5px;
  vertical-align: text-top;
  width: 100%;
  color: black;
}

/* 登入的 */
.logintd {
  position: relative;

}

.login {
  width: 100px;
  height: 45px;
  font-size: 14px;
  color: rgb(71, 137, 163);
  background-color: transparent;
  text-align: right;
  padding: 0px 20px;
  border: 2px solid rgb(71, 137, 163);
  cursor: pointer;
}

.logintd .fa-circle-user {
  color: rgb(71, 137, 163);
  position: absolute;
  top: 35%;
  left: 30%;
}


/* 中間那排 */
#containerright {
  width: 88.5%;
  height: calc(100% - 55px);
  float: right;
  position: relative;
  top: 55px;
}

#containerright span {
  width: calc(100%-45px);
  margin-left: 5px;
  position: absolute;
}

#containermiddle {
  background: linear-gradient(to right, transparent 0px, transparent 20px, rgba(255, 255, 255, 0.97) 5px, rgba(255, 255, 255, 0.97) 100%);

}

/* 右側中間按鈕 */
#containermiddle {
  width: 100%;
  height: 55px;
  position: fixed;
}

#containermiddle input {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 1px solid lightgray;
  font-size: 14px;
  margin: 5px;
  position: relative;
  left: 20%;
  margin-top: 13px;
  padding: 5px 10px;
}

#containermiddle input:hover {
  background-color: black;
  color: white;
}

/* 內容 */

#containercontain {
  width: 100%;
  position: relative;
  left: 0;
  top: 55px;
  z-index: -2;
  background:
    linear-gradient(to right, white 0%, white 19px, transparent 19px, transparent 100%),
    rgb(250, 250, 250);
}


#containercontain table {
  width: 90%;
  border-collapse: collapse;
  margin-left: 6%;
  overflow-y: scroll;
}

#containercontain td {
  width: 25%;
}

#containercontain .card {
  margin: 0px 5px;
  width: 95%;
  text-align: center;
}

#containercontain .row {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: black;
  font-size: 14px;
  overflow: hidden;
}

#containercontain .row:first-child {
  margin-top: 10px;
}

#containercontain .row:last-child {
  font-size: 12px;
  color: gray;
}

#containercontain .bigimg {
  width: 100%;
  margin-top: 10px;
}

#containercontain img {
  width: 100%;
}

#containercontain .row .col:first-child {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

#containercontain .row .col:last-child {
  width: calc(90% - 40px);
  height: 35px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  padding: 5px 8px;

}

#containercontain .row:last-child .col:first-child {
  height: 0px;
}

#containercontain .row h2 {
  color: black;
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
}

#containercontain hr {
  background: lightgray;
  width: calc(97% - 4px);
  border: 2px solid lightgray;
  border-radius: 1px;
}